{
    "extends": ["react-app"],
    "plugins": ["import", "@typescript-eslint"],
    "rules": {
        // turn on errors for missing imports
        "import/no-unresolved": "error"
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}