{
    "extends": ["react-app"],
    "plugins": ["import"],
    "rules": {
        // turn on errors for missing imports
        "import/no-unresolved": "error"
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        }
    }
}