.grid {
    display: grid;
    width: 750px;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.grid > div {
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.square {
    flex: 1;
    flex-direction: "column";
    align-items: "center";
}